.city{
    position: absolute;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    top: 45%;
    left: 35%;
    margin: 0 80px;
    border: none;
}
.submit{
    position: absolute;
    left: 41.5%;
    width: 150px;
    height: 50px;
    top: 55%;
    border-radius: 20px;

}
.common6{
    position: absolute;
    top: 34%;
    left: 10%;
    color: white;
}
.common1{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
}

.common2{
    position: absolute;
    top: 46%;
    left: 10%;
    color: white;
}

.common3{
    position: absolute;
    top: 52%;
    left: 10%;
    color: white;
}

.common4{
    position: absolute;
    top: 58%;
    left: 10%;
    color: white;
}


.common7{
    position: absolute;
    top: 40%;
    left: 80%;
    color: white;
}
.common8{
    position: absolute;
    top: 46%;
    left: 80%;
    color: white;
}
.common9{
    position: absolute;
    top: 52%;
    left: 80%;
    color: white;
}
.common5{
    position: absolute;
    top: 58%;
    left: 80%;
    color: white;
}

.button a{
    color: rgb(1, 0, 0);
    text-decoration-line: none;
    font-family: 'Poppins' sans-serif;
    font-size: 17px;
    font-weight: bolder;
}
.button button{
    position: absolute;
    top: 64%;
    left: 80%;
    height: 50px;
    width: 200px;
    background-color: transparent;
    border: 5px solid rgb(161, 65, 65);
    border-radius: 100px;
}

.button button:hover{
    background-color: lightpink;
}




.head{
    position: absolute;
    top: 7%;
    left: 13%;
}

nav{
    position: absolute;
    top: 11%;
    left: 40%;
    font-size: 23px;
    word-spacing: 35px;
}

a{
    text-decoration-line: none;
    color: rgb(0, 0, 0);
}

