<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style1.css">
</head>
<body>
    <h1 class="head">Weather Tracker</h1>
    <nav>
        <a href="{{url_for('login')}}">Home</a>
        <a href="{{url_for('home')}}">Tracker</a>
        <a href="#">Reference</a>
        <a href="#">Contact</a>
        <a href="#">Help</a>
    </nav>
    <img src="../static/images/1540005.webp" class="image" height="720px" width="100%">
    <div class="button"><Button><a href="{{url_for('home')}}">Lets Check The Weather</a></Button></div>
</body>
</html>